@font-face { font-family: Penumbra; src: url('Assets/Fonts/PFSR.otf'); }
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&family=Nova+Square&family=Nunito&family=Roboto:wght@300;400&display=swap');

/*//// Tags ////*/

:root {
    /* Global Colors */
    --HeaderBlue: #10254A;
    --BodyBlue: #1C2B47;
    --MenuBlue: #0B1B36;
    --BrightGold: #B5A672;
    --DarkGold: #6C6445;
    --Grayed: #757171;
    --DarkGrayed: #A8A8A8;
    --DarkButton: #051124;
    --AppBlue: #1D2938;
    /* Global Fonts */
    --BrandFont: Penumbra, sans-serif;
    --TitleFont: 'Nova Square', cursive;
}

body {
    padding: 0;
    margin: 0;
    background-color: var(--BodyBlue);
    overflow: hidden;
    min-width: 1500px;
}

/*//// Header ////*/

#Header {
    width: 100vw;
    height: 15vh;
    background-color: var(--HeaderBlue);
    display: flex;
    align-items: center;
    float: left;
    position: relative;
    z-index: 100;
} 

#Header #HeaderBody { 
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: inherit;
    z-index: -1;
    box-shadow: 0 1vh .5vh 0 RGBA(13, 26, 48, 25%), inset
    0 -1.25vh .4vh 0 RGBA(13, 26, 48, 25%);
}

#Header span { text-shadow: .2vw .2vw .1vw black; }

#Header .title {
    height: inherit;
    color: var(--BrightGold);
    font-family: var(--BrandFont);
    font-size: 5vw;
    display: flex;
    align-items: center;
    margin-left: 3vw;
}

#Header .subtitle {
    color: var(--Grayed);
    font-family: 'Roboto', sans-serif;
    font-size: 1.75vw;
    margin-top: 2vw;
    padding-left: 2vw;
}

#Header #Nav {
    height: 100%;
    width: 27vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-left: 3vw;
    font-family: 'Roboto', sans-serif;
}

#Nav .button {
    height: 4.5vw;
    width: 4.5vw;
    background-color: var(--DarkButton);
    border-radius: .4vw;
    border: solid .05vw var(--DarkGold);
    color: var(--DarkGrayed);
    font-size: 3.75vw;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: .2vw .2vw 1vw black;
    user-select: none;
    cursor: pointer;
} #Nav .button:hover { color: white; border-color: var(--BrightGold); }

#Nav .button:nth-child(3),
#Nav .button:nth-child(4) {
    line-height: 50%;
}

#GlobalOptions {
    position: absolute;
    background-color: var(--MenuBlue);
    height: 60vh;
    width: 90vw;
    border-radius: 0 0 2vw 2vw;
    left: 0; right: 0; top: -46vh;
    margin: auto;
    z-index: -2;
    box-shadow: .2vw .2vw 2vw black;
    transition-duration: 1s;
    transition-property: top;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-shadow: .3vw .3vw .1vw black;
}

#GlobalOptions Span { text-shadow: .3vw .3vw .1vw black; }
#GlobalOptions Div { box-shadow: .2vw .2vw 1vw black; }

#GlobalOptions .title {
    font-size: 5vw;
    color: var(--DarkGrayed);
    height: max-content;
    padding-top: 3vh;
    font-family: var(--TitleFont);
}

#GlobalOptions .content {
    padding: 5vw 0 5vw 0;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    user-select: none;
    box-shadow: 0 0 RGBA(0, 0, 0, 0);
}

#GlobalOptions .content Span {
    color: var(--DarkGrayed);
    height: 50%;
    width: calc(50% - 4vw);
    font-size: 3vw;
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    padding-left: 4vw;
}

#GlobalOptions .content Span p:hover { color: white; }
#GlobalOptions .content Span .c:hover { color: green; }
#GlobalOptions .content Span p { cursor: pointer; }

#GlobalOptions .content Span .c { 
    transform: translate(-2vw, -.5vw);
    color: green;
 }

#GlobalOptions .content section {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#GlobalOptions .content Section .button {
    background-color: var(--DarkButton);
    border-radius: .4vw;
    border: solid .05vw var(--DarkGold);
    color: var(--DarkGrayed);
    font-family: 'Roboto', sans-serif;
    padding: 1vw;
    width: 80%;
    font-size: 3vw;
    text-align: center;
    cursor: pointer;
} #GlobalOptions .content Section .button:hover { color: white; border-color: var(--BrightGold); }

#GlobalOptions .tab {
    position: absolute;
    background-color: inherit;
    height: 4.5vw;
    width: 6vw;
    left: 0; right: 0; bottom: -4.5vw;
    border-radius: 0 0 1vw 1vw;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color:  var(--DarkGrayed);
    font-size: 3vw;
    box-shadow: .2vw .2vw 1vw black;
    cursor: pointer;
    z-index: -2;
    user-select: none;
} #GlobalOptions .tab:hover { color: white; }

#GlobalOptions .mask {
    width: 7vw;
    height: 2vh;
    background-color: inherit;
    position: absolute;
    bottom: 0; left: 0; right: 0;
    margin: auto;
    box-shadow: 0 0 RGBA(0, 0, 0, 0);
}

/*//// Menus ////*/

#MenuBackdrop {
    width: 200vw;
    height: 85vh;
    background-color:  var(--BodyBlue);
    opacity: 0;
    pointer-events: none;
    transition: opacity 1s;
    position: absolute;
    bottom: 0;
    z-index: 149;
}

.menu {
    background-color: var(--MenuBlue);
    width: 95vw;
    height: 71vh;
    border-radius: 2vw;
    position: absolute;
    margin: auto;
    left: 200vw; right: 0; top: 15vh; bottom: 0;
    transition-property: left;
    transition-duration: 1s;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    padding: 2vh 0 2vh 0;
    z-index: 150;
} .menu a { color: var(--DarkGold); }

.menu .header { 
    font-family: var(--BrandFont);
    font-size: 4vw;
    text-align: center;
    color: var(--DarkGrayed);
    padding-top: 3vw;
}

.menu .title { 
    text-align: left;
    width: 95%;
    color: var(--BrightGold);
    font-family: 'Nova Square', cursive;
    font-size: 3vw;
    padding-top: 5vw;
}

.menu .content { 
    color: var(--DarkGrayed);
    width: 85%;
    text-align: left;
    font-family: 'Nunito', sans-serif;
    font-size: 1.75vw;
    padding-top: 2vw;
}

#NewsMenu .Enhancement_Label,
#NewsMenu .Bug_Label,
#NewsMenu .Feature_Label {
    color: var(--DarkGrayed);
    padding: .2vw;
    border-radius: .4vw;
    font-size: 1.25vw;
    line-height: 150%;
}

#NewsMenu .Enhancement_Label { background-color: #214794; }
#NewsMenu .Bug_Label { background-color: #8a3932; }
#NewsMenu .Feature_Label { background-color: #32822f; }

#AlertMenu .content {
    font-size: 3vw;
    padding-top: 5vw;
    text-align: center;
    color: var(--Grayed);
}

.list_menu {
    background-color: var(--MenuBlue);
    width: 40vw;
    height: 71vh;
    border-radius: 2vw;
    position: absolute;
    margin: auto;
    left: 200vw; right: 0; top: 15vh; bottom: 0;
    transition-property: left;
    transition-duration: 1s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 2vh 0 2vh 0;
} 

.list_menu .header { 
    font-size: 4vw;
    color: var(--DarkGrayed);
    font-family: 'Nova Square', cursive;
}

.list_menu .option {
    background-color: var(--DarkButton);
    border: solid .1vw var(--BrightGold);
    padding: .5vw 0 .5vw 0;
    font-size: 2.5vw;
    color: var(--Grayed);
    font-family: 'Roboto', sans-serif;
    border-radius: .6vw;
    text-align: center;
}

#FileMenu .option { width: 4vw; }
#LangMenu .option { width: 60%; }

/*//// App ////*/

#App .team { 
    width: 50%;
    height: 85vh;
    float: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    z-index: -100;
}

#App .player { 
    width: calc(100% - 9vw);
    height: 17vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-right: 9vw;
    transform: translateY(2vh);
    pointer-events: none;
    z-index: -100;
} 
#App #Order { transform: rotateY(180deg); }

#App .player div {
    box-shadow: .2vw .2vw .5vw black;
    text-shadow: .1vw .1vw .2vw black;
}

#App .preferences,
#App .information {
    background-color: var(--AppBlue);
    border: solid .3vh var(--DarkGold);
    border-radius: .4vw;
    height: 4.6vh;
    width: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4.5vh;
    color: var(--DarkGrayed);
    justify-self: center;
    margin: 1vh .75vw 0 2vw;
    padding-bottom: .4vh;
    cursor: pointer;
    pointer-events: auto;
} 

#App .preferences:hover,
#App .information:hover {
    color: white;
    border-color: var(--BrightGold);
}

#App .icon {
    background-color: var(--AppBlue);
    border: solid .3vh var(--DarkGold);
    border-radius: .6vw;
    height: 11vh;
    width: 11vh;
    color: var(--BrightGold);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 11vh;
    font-family: var(--BrandFont);
    padding-top: .35vw;
    transform: translateX(-.5vw);
    margin-top: 1vh;
    cursor: pointer;
    pointer-events: auto;
} 
#App .icon:hover { color: var(--BrightGold); border-color: var(--BrightGold); }
#App #Order .icon { transform: scale(-1, 1) translateX(.5vw); }

#App .item_cont {
    width: 26.75vw;
    height: calc(50% - 1vh);
    margin-top: 1vh;
    display: flex;
    padding-left: .25vw;
    justify-content: space-around;
    transform: translateX(-1.25vw);
    padding-right: 2vw;
    box-shadow: none !important;
}

#App .item {
    background-color: var(--AppBlue);
    border: solid .2vw var(--DarkGold);
    border-radius: .4vw;
    height: 6vh;
    width: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--BrightGold);
    font-size: 7vh;
    cursor: pointer;
    pointer-events: auto;
} #App .item:hover { color: var(--BrightGold); border-color: var(--BrightGold); }

#App .bar {
    background-color: var(--AppBlue);
    border: solid .2vw var(--DarkGold);
    width: 27vw;
    height: 4vh;
    z-index: -1;
    transform: translate(-2.1vw, -.15vh);
    overflow: hidden;
}

#App .health,
#App .mana {
    width: 100%;
    height: 50%;
}

#App .health { background-color: #3cb038; }

#App .mana { background-color: #4054ad; }

/*//// LARGE SCREENS ////*/

@media (min-width: 1000px) {
    /* Header */

    #Header .title { font-size: 4.5vw; }
    #Header .subtitle { font-size: 1.25vw; }
    #Header Span { text-shadow: .1vw .1vw .1vw black; }

    #Header #Nav {
        width: 21vw;
        padding-left: 10vw;
    }

    #Nav .button {
        height: 3.5vw;
        width: 3.5vw;
        font-size: 3vw;
        box-shadow: .1vw .1vw .5vw black;
    }

    #Nav .tab { width: 5vw; }

    #GlobalOptions { text-shadow: .3vw .3vw .1vw black; }
    #GlobalOptions Span { text-shadow: .3vw .3vw .1vw black; }
    #GlobalOptions Div { box-shadow: .2vw .2vw .5vw black; }

    #GlobalOptions .content { 
        padding: 2vw 0 0 0;
        height: 60%;
    }

    #GlobalOptions .content Span { font-size: 2.5vw; }
    #GlobalOptions .content Section .button { font-size: 2.25vw; }

    #GlobalOptions .tab { box-shadow: .1vw .1vw .5vw black;}
}

/*//// HALF SCREENS ////*/

@media (max-width: 1000px) {
    #App .player { 
        width: calc(100%);
        transform: scale(.85, .85) translateX(-5vw);
        padding-right: 0vh;
    }

    #App .item_cont { 
        width: 50vh;
        transform: translateX(.5vh);
     }

     #App .bar {
        width: 55vh;
        transform: translateX(-5.5vh, -.1vh);
     }

}