/*//// External ////*/

@font-face { font-family: Penumbra; src: url('Assets/Fonts/PFSR.otf'); }
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&family=Nova+Square&family=Nunito&family=Roboto:wght@300;400&display=swap');

/*//// Data ////*/

:root {
    /* Global Colors */
    --DeepBlue: #10254A;
    --GrayBlue: #1C2B47;
    --DarkBlue: #0B1B36;
    --LightGrayBlue: #22385e;
    --BrightGold: #B5A672;
    --DarkGold: #6C6445;
    --MediumGray: #757171;
    --LightGray: #A8A8A8;
    --InternalBlue: #051124;
    --ContentBlue: #1D2938;
    /* Global Fonts */
    --BrandFont: Penumbra, sans-serif;
    --TitleFont: 'Nova Square', cursive;
    /* Global Border */
    --ThinBorder:  solid .05vw var(--DarkGold);
    --ThinBorderRadius: .4vw;
    --ThinBorderWidth: .05vw;
    /* Global Shadows */
    --Shadow: .2vw .2vw black;
    --SoftBoxShadow: .2vw .2vw .3vw black;
    /* Global Constraints */
    --MinPage: 1400px;
}

/*//// Primary Styles ////*/
/*//// Global ////*/

body {
    overflow-y: hidden;
    margin: 0; padding: 0;
    background-color: var(--LightGrayBlue);
    min-width: var(1400px);
}

* {
    -ms-overflow-style: none; 
    scrollbar-width: none;
}  *::-webkit-scrollbar { display: none; }

/*//// Header Section ////*/

header {
    width: 100%;
    height: 13vh;
    background-color: var(--DeepBlue);
    position: relative;
    box-shadow: 0 1vh .5vh 0 RGBA(13, 26, 48, 25%), inset
    0 -1.25vh .4vh 0 RGBA(13, 26, 48, 25%);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100px;
}

header h1, h2 {
    margin: 0;
    display: block;
    height: 100%;
    text-shadow: var(--Shadow);
}

header h1 { 
    width: 35%; 
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    font-family: var(--BrandFont);
    color: var(--BrightGold);
    max-width: 800px;
}
header h2 { 
    width: 25%;
    height: 98%;
    display: flex;
    align-items: center;
    padding-top: 2%;
    color: var(--MediumGray);
    font-family: var(--BrandFont);
    font-size: 100%;
    pointer-events: none;
}

header nav {
    height: 100%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

header nav div {
    height: 8vh;
    width: 8vh;
    background-color: var(--InternalBlue);
    border: var(--ThinBorder);
    border-radius: var(--ThinBorderRadius);
    margin: 0 .25vw 0 .25vw;
    cursor: pointer;
} 

header nav div img { height: 100%; width: 100%; }
header nav div:hover { border-color: var(--BrightGold); }

/*//// Menu Section ////*/

.menu { 
    position: absolute;
    margin: auto;
    background-color: var(--DarkBlue);
}

#GlobalOptions {
    height: 60vh;
    width: 80%;top: calc(-60vh + 13vh);
    
    left: 0; right: 0;
    border-bottom-right-radius: 1vw;
    border-bottom-left-radius: 1vw;
    box-shadow: var(--SoftBoxShadow);
    z-index: -1;
    cursor: pointer;
}

#GlobalOptions .tab {
    height: 5vh;
    width: 20vw;
    position: absolute;
    margin: auto;
    bottom: -5vh; 
    left: 0; right: 0;
    background-color: inherit;
    border-radius: inherit;
    font-size: 50px;
    text-align: center;
    box-shadow: var(--SoftBoxShadow);
    display: flex;
    align-items: center;
    justify-content: center;
} #GlobalOptions .tab img { height: 1em; width: 1em; }

#GlobalOptions .tab_mask {
    width: inherit;
    height: 50%;
    background-color: inherit;
    position: absolute;
    margin: auto;
    left: 0; right: 0;
    top: -25%;
    pointer-events: none;
}

.menu:not(#GlobalOptions) {
    height: 73vh;
    width: 85vw;
    border-radius: 1vw;
    left: -2000vw; right: 0; bottom: 0; top: 5vh;
    transition: left .2s;
}