@font-face { font-family: Penumbra; src: url('Assets/Fonts/PFSR.otf'); }
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&family=Nova+Square&family=Nunito&family=Roboto:wght@300;400&display=swap');

/*//// Tags ////*/

:root {
    /* Global Colors */
    --HeaderBlue: #10254A;
    --BodyBlue: #1C2B47;
    --MenuBlue: #0B1B36;
    --BrightGold: #B5A672;
    --DarkGold: #6C6445;
    --Grayed: #757171;
    --DarkGrayed: #A8A8A8;
    --DarkButton: #051124;
    --AppBlue: #1D2938;
    /* Global Fonts */
    --BrandFont: Penumbra, sans-serif;
    --TitleFont: 'Nova Square', cursive;
}

html { width: 100vw; }

body {
    padding: 0;
    margin: 0;
    background-color: var(--BodyBlue);
    overflow: hidden;
    width: 200%;
}

/*//// Header ////*/

#Header {
    width: 100vw;
    height: 7.25vw;
    background-color: var(--HeaderBlue);
    display: flex;
    align-items: center;
    float: left;
    position: relative;
    z-index: 100;
} 

#Header #HeaderBody { 
    position: absolute;
    width: 100vw;
    height: 100%;
    background-color: inherit;
    z-index: -1;
    box-shadow: 0 1vh .5vh 0 RGBA(13, 26, 48, 25%), inset
    0 -1.25vh .4vh 0 RGBA(13, 26, 48, 25%);
}

#Header span { text-shadow: .2vw .2vw .1vw black; }

#Header .title {
    height: inherit;
    color: var(--BrightGold);
    font-family: var(--BrandFont);
    font-size: 5vw;
    display: flex;
    align-items: center;
    margin-left: 3vw;
}

#Header .subtitle {
    color: var(--Grayed);
    font-family: 'Roboto', sans-serif;
    font-size: 1.75vw;
    margin-top: 2vw;
    padding-left: 2vw;
}

#Header #Nav {
    height: 100%;
    width: 27vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-left: 3vw;
    font-family: 'Roboto', sans-serif;
}

#Nav .button {
    height: 4.5vw;
    width: 4.5vw;
    background-color: var(--DarkButton);
    border-radius: .4vw;
    border: solid .05vw var(--DarkGold);
    color: var(--DarkGrayed);
    font-size: 3.75vw;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: .2vw .2vw 1vw black;
    user-select: none;
    cursor: pointer;
} #Nav .button:hover { color: white; border-color: var(--BrightGold); }

#Nav .button:nth-child(3),
#Nav .button:nth-child(4) {
    line-height: 50%;
}

#GlobalOptions {
    position: absolute;
    background-color: var(--MenuBlue);
    height: 60vh;
    width: 90vw;
    border-radius: 0 0 2vw 2vw;
    left: 0; right: 0; top: -46vh;
    margin: auto;
    z-index: -2;
    box-shadow: .2vw .2vw 2vw black;
    transition-duration: 1s;
    transition-property: top;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-shadow: .3vw .3vw .1vw black;
}

#GlobalOptions Span { text-shadow: .3vw .3vw .1vw black; }
#GlobalOptions Div { box-shadow: .2vw .2vw 1vw black; }

#GlobalOptions .title {
    font-size: 5vw;
    color: var(--DarkGrayed);
    height: max-content;
    padding-top: 3vh;
    font-family: var(--TitleFont);
}

#GlobalOptions .content {
    padding: 5vw 0 5vw 0;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    user-select: none;
    box-shadow: 0 0 RGBA(0, 0, 0, 0);
}

#GlobalOptions .content Span {
    color: var(--DarkGrayed);
    height: 50%;
    width: calc(50% - 4vw);
    font-size: 3vw;
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    padding-left: 4vw;
}

#GlobalOptions .content Span p:hover { color: white; }
#GlobalOptions .content Span .c:hover { color: green; }
#GlobalOptions .content Span p { cursor: pointer; }

#GlobalOptions .content Span .c { 
    transform: translate(-2vw, -.5vw);
    color: green;
 }

#GlobalOptions .content Section {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#GlobalOptions .content Section .button {
    background-color: var(--DarkButton);
    border-radius: .4vw;
    border: solid .05vw var(--DarkGold);
    color: var(--DarkGrayed);
    font-family: 'Roboto', sans-serif;
    padding: 2vh;
    width: 80%;
    font-size: 3vw;
    text-align: center;
    cursor: pointer;
} #GlobalOptions .content Section .button:hover { color: white; border-color: var(--BrightGold); }

#GlobalOptions .tab {
    position: absolute;
    background-color: inherit;
    height: 4.5vw;
    width: 6vw;
    left: 0; right: 0; bottom: -4.5vw;
    border-radius: 0 0 1vw 1vw;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color:  var(--DarkGrayed);
    font-size: 3vw;
    box-shadow: .2vw .2vw 1vw black;
    cursor: pointer;
    z-index: -2;
    user-select: none;
} #GlobalOptions .tab:hover { color: white; }

#GlobalOptions .mask {
    width: 7vw;
    height: 2vh;
    background-color: inherit;
    position: absolute;
    bottom: 0; left: 0; right: 0;
    margin: auto;
    box-shadow: 0 0 RGBA(0, 0, 0, 0);
}

/*//// Menus ////*/

#MenuBackdrop {
    width: 200vw;
    height: 85vh;
    background-color:  var(--BodyBlue);
    opacity: 0;
    pointer-events: none;
    transition: opacity 1s;
    position: absolute;
    bottom: 0;
    z-index: 149;
}

.menu {
    background-color: var(--MenuBlue);
    width: 95vw;
    height: 71vh;
    border-radius: 2vw;
    position: absolute;
    margin: auto;
    left: 200vw; right: 0; top: 15vh; bottom: 0;
    transition-property: left;
    transition-duration: 1s;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    padding: 2vh 0 2vh 0;
    z-index: 150;
} .menu a { color: var(--DarkGold); }

.menu .header { 
    font-family: var(--BrandFont);
    font-size: 4vw;
    text-align: center;
    color: var(--DarkGrayed);
    padding-top: 3vw;
} #OptionsMenu .header { font-size: 3vw; }

.menu .title { 
    text-align: left;
    width: 95%;
    color: var(--BrightGold);
    font-family: 'Nova Square', cursive;
    font-size: 3vw;
    padding-top: 5vw;
}

.menu .content { 
    color: var(--DarkGrayed);
    width: 85%;
    text-align: left;
    font-family: 'Nunito', sans-serif;
    font-size: 1.75vw;
    padding-top: 2vw;
}

#NewsMenu .Enhancement_Label,
#NewsMenu .Bug_Label,
#NewsMenu .Feature_Label {
    color: var(--DarkGrayed);
    padding: .2vw;
    border-radius: .4vw;
    font-size: 1.25vw;
    line-height: 150%;
}

#NewsMenu .Enhancement_Label { background-color: #214794; }
#NewsMenu .Bug_Label { background-color: #8a3932; }
#NewsMenu .Feature_Label { background-color: #32822f; }

#AlertMenu .content {
    font-size: 3vw;
    padding-top: 5vw;
    text-align: center;
    color: var(--Grayed);
}

.list_menu {
    background-color: var(--MenuBlue);
    width: 40vw;
    height: 71vh;
    border-radius: 2vw;
    position: absolute;
    margin: auto;
    left: 200vw; right: 0; top: 15vh; bottom: 0;
    transition-property: left;
    transition-duration: 1s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 2vh 0 2vh 0;
    z-index: 150;
} 

.list_menu .header { 
    font-size: 4vw;
    color: var(--DarkGrayed);
    font-family: 'Nova Square', cursive;
}

.list_menu .option {
    background-color: var(--DarkButton);
    border: solid .1vw var(--BrightGold);
    padding: .5vw 0 .5vw 0;
    font-size: 2.5vw;
    color: var(--Grayed);
    font-family: 'Roboto', sans-serif;
    border-radius: .6vw;
    text-align: center;
}

#FileMenu .option { width: 4vw; }
#LangMenu .option { width: 60%; }

#OptionsMenu {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: start;
    padding: 0 0 2vh 0;
    text-shadow: .4vh .4vh .4vh black;
} #OptionsMenu .header { margin-top: -3vh;}

#OptionsMenu div { box-shadow: .4vh .4vh 1vh black; }

#OptionsMenu .title {
    font-size: 3vw;
    color: var(--Grayed);
    font-family: 'Nova Square', cursive;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: -10vh;
}

#OptionsMenu .divider {
    width: 1vw;
    height: 82%;
    background-color: #2A2E4F;
    border-radius: .8vw;
    box-shadow: none !important;
}

#OptionsMenu #OptionsList {
    width: calc(60% - .5vw);
    height: max-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: start;
    box-shadow: none !important;
}

#OptionsList #OptionsLevel {
    width: 120%;
    height: 4vh;
    font-size: 2vw;
    font-family: 'Roboto', sans-serif;
    color: var(--Grayed);
    margin-top: 5vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    box-shadow: none !important;
    padding-left: 3.25vw;
}

#OptionsLevel #LevelValue {
    color: var(--BrightGold);
    font-size: 2.5vw;
}

#OptionsList #OptionsLevel #LevelSlider {
    -webkit-appearance: none;
    appearance: none;
    width: 60%;
    background: #4A596A;
    opacity: .7;
    border-radius: .4vw;
}

#LevelSlider::-webkit-slider-thumb,
#LevelSlider::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 4vh;
    height: 3vh;
    background: #2E353F;
    border-radius: 1vw;
    transition-duration: .2s;
    cursor: pointer;
    border: none;
}

#OptionsList #OptionsBuffs {
    width: 120%;
    height: 25vh;
    font-size: 2vw;
    font-family: 'Roboto', sans-serif;
    color: var(--Grayed);
    margin-top: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-left: 2vw;
    box-shadow: none !important;
    flex-wrap: wrap;
}

#OptionsBuffs #BuffValue { 
    width: 100%;
    text-align: center;
    box-shadow: none !important;
    font-size: 2.8vh;
    margin-top: .5vh;
 }

#OptionsBuffs .label { margin-right: .5vw; }

#OptionsBuffs .item_cont {
    width: max-content;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    box-shadow: none !important;
    background-color: var(--DarkButton);
    border-radius: .4vw;
    border: solid .05vw var(--DarkGold);
    padding: .5vw;
} 
#OptionsBuffs #RegularBuffs { 
    width: 15.5vh !important; 
    margin-right: -.5vh;
}

#OptionsBuffs .buff {
    width: 6vh;
    height: 6vh;
    border: solid .3vh var(--DarkGold);
    border-radius: .4vw;
    background-color: var(--DarkButton);
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
    transition-property: box-shadow;
    transition-duration: .2s;
} 

#OptionsBuffs .buff:hover {
    box-shadow: .2vh .2vh 1vh white, -.2vh -.2vh 1vh white, -.2vh .2vh 1vh white, .2vh -.2vh 1vh white;
    border-color: var(--BrightGold);
}

#OptionsMenu #RandomList {
    width: calc(40% - .5vw);
    height: max-content;
    box-shadow: none !important;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#RandomList .button {
    background-color: var(--DarkButton);
    border-radius: .4vw;
    border: solid .05vw var(--DarkGold);
    color: var(--DarkGrayed);
    font-family: 'Roboto', sans-serif;
    padding: 1vw;
    width: 60%;
    font-size: 2vw;
    text-align: center;
    cursor: pointer;
    margin-top: 2vh;
} #RandomList .button:hover { color: white; border-color: var(--BrightGold); }

#InfoMenu div {
    position: absolute; margin: auto;
    color: var(--DarkGrayed);
    text-shadow: .4vh .4vh .4vh black;
    box-shadow: .4vh .4vh 1vh black;
}

#InfoMenu #GodCard {
    height: 65vh;
    width: 32.5vh;
    background-color: var(--DarkButton);
    border-radius: .8vw;
    position: absolute; margin: auto;
    left: 3vw; top: 0; bottom: 0;
    cursor: help;
}

#GodInfo {
    float: left;
    width: max-content;
    height: 50vh;
    left: calc(3vw + 32.5vh + 2vw); top: 5.5vh;
    line-height: 6vh;
    box-shadow: none !important;
}

#GodInfo #GodName {
    font-family: 'Nova Square', cursive;
    font-size: 7vh;
    left: 0; right: 0; top: 2vh;
}

#GodInfo #GodTitle {
    font-family: 'Roboto', sans-serif;
    font-size: 2vw;
}

#GodInfo #GodPantheon {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5vw;
}

#GodInfo #GodLevel,
#GodInfo #GodBuffs,
#GodInfo #BuildPrice {
    font-family: 'Roboto', sans-serif;
    font-size: 1.25vw;
} 

#GodInfo #BuildPrice { 
    color: var(--BrightGold);
    background-color: var(--DarkButton);
    border-radius: .8vh;
    display: inline-block;
    height: max-content;
    width: 75%;
    padding: 0 .5vw 0 .5vw;
 }

#InfoMenu img {
    width: 1em;
    height: 1em;
    background-size: cover;
}

#InfoMenu .item_cont { 
    width: 48vw;
    height: 15vh;
    position: absolute;
    left: 20vw; bottom: 5.25vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: none !important;
    flex-wrap: wrap;
}

#InfoMenu .item_cont .item_disp {
    position: relative;
    background-color: var(--DarkButton);
    border-radius: .5vw;
    width: 7.5vw;
    height: 7.5vw;
    cursor: help;
}

#InfoMenu .item_cont .item_price {
    position: relative;
    width: 7.5vw;
    height: max-content;
    font-family: 'Roboto', sans-serif;
    color: var(--BrightGold);
    text-align: center;
    box-shadow: none !important;
    font-size: 2vh;
    padding-top: 1vh;
} #InfoMenu .item_cont .item_price img { display: inline-block; }

#InfoMenu #GodExtraInfo {
    background-color: #0a2047;
    width: 50vh;
    height: 35vh;
    border-radius: .8vh;
    left: 40vw; top: 6vw;
    text-align: center;
    opacity: 0;
    transition-property: opacity;
    transition-duration: .4s;
}

#InfoMenu #GodExtraInfo Span {
    font-size: 3vw;
    color: var(--Grayed);
}

#InfoMenu .item_cont:hover ~ #GodExtraInfo,
#InfoMenu #GodCard:hover ~ #GodExtraInfo {
    opacity: 1;
}

#GodStats {
    height: max-content;
    width: 20vw;
    left: 70vw; top: 7.5vh;
    box-shadow: none !important;
    font-family: 'Roboto', sans-serif;
} 

#GodStats .title { 
    font-family: 'Nova Square', cursive;
    font-size: 3vw;
    color: var(--DarkGrayed);
}

#GodStats Span {
    line-height: 1vh;
    font-size: 6vh;
    font-family: inherit;
}

#GodStats .stat {
    display: inline-block;
    height: 1em;
    border-radius: .4vh;
    box-shadow: none !important;
    background-color: #111821;
    margin: 0 0 0 .5vw;
    padding: 0 .25vw 0 .25vw;
    text-shadow: none !important;
    text-align: justify;
    width: 40%;
} 

#GodStats .stat_name {
    display: inline-block;
}

#GodStats .stat_name,
#GodStats .stat_amount,
#GodStats .stat_cap { 
    font-size: 1.75vh;
    width: 50%;
}

#GodStats .stat .stat_amount { 
    font-weight: bold;
    line-height: 2vh;
    text-align: left;
    float: left;
}

#GodStats .stat .stat_cap { 
    font-weight: bold;
    line-height: 2vh;
    text-align: right;
    float: right;
}

/*//// App ////*/

#App #ExtraInfo {
    position: absolute; margin: auto;
    background-color: #0a2047;
    width: 40vh;
    height: max-content;
    padding: 3vh;
    border-radius: .8vh;
    left: 0; right: 0; top: 2vh; bottom: 0;
    text-align: center;
    transition-property: opacity;
    transition-duration: .4s;
    color: white;
    font-family: 'Robot', sans-serif;
    font-size: 1.5vw;
    text-shadow: .2vw .2vw black;
    display: flex; 
    flex-direction: column;
    color: var(--DarkGrayed);
    opacity: 0;
    pointer-events: none;
}

#App #ExtraInfo Span {
    font-size: 2.5vw;
    color: var(--Grayed);
    width: 100%;
    margin-bottom: 2vh;
}

#App .team { 
    width: 50%;
    height: 85vh;
    position: absolute;
    top: 15vh;
    transition: left .3s;
}

#App #Chaos { left: 0; }
#App #Order { right: 0; }

#App .player { 
    width: 100%;
    position: absolute;
    height: 20%;
} #App #Order { transform: rotateY(180deg); } 


#App .player div {
    box-shadow: .4vh .4vh .75vh black;
    text-shadow: .4vh .4vh 1vh black;
}

#App .preferences,
#App .information {
    position: absolute; margin: auto;
    bottom: 0; left: 4vh;
    background-color: var(--AppBlue);
    border: solid .3vh var(--DarkGold);
    border-radius: .4vw;
    height: 4.6vh;
    width: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4.5vh;
    color: var(--DarkGrayed);
    justify-self: center;
    padding-bottom: .4vh;
    cursor: pointer;
    pointer-events: auto;
} 
#App .preferences:hover,
#App .information:hover {
    color: white;
    border-color: var(--BrightGold);
}

#App .preferences { top: -6vh; }
#App .information { top: 6vh; }

#App .icon {
    position: absolute; margin: auto;
    bottom: 0; top: 0; left: 11vh;
    background-color: var(--AppBlue);
    border: solid .3vh var(--DarkGold);
    border-radius: .6vw;
    height: 11vh;
    width: 11vh;
    color: var(--BrightGold);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 11vh;
    font-family: var(--BrandFont);
    padding-top: .35vw;
    cursor: pointer;
    pointer-events: auto;
} 
#App .icon:hover { color: var(--BrightGold); border-color: var(--BrightGold); }
#App #Order .icon { transform: scale(-1, 1) translateX(.5vw); }

#App .item_cont {
    position: absolute; margin: auto;
    top: -3.5vh; bottom: 0; left: 22.75vh;
    width: calc(65% - 22.5vh);
    height: 50%;
    display: flex;
    justify-content: space-around;
    box-shadow: none !important;
} #App #Order .item_cont { left: 21.75vh; }

#App .item {
    background-color: var(--AppBlue);
    border: solid .3vh var(--DarkGold);
    border-radius: .4vw;
    height: 6vh;
    width: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--BrightGold);
    font-size: 7vh;
    cursor: pointer;
    pointer-events: auto;
} 

#App #Order .item { transform: rotateY(180deg); }
#App .item:hover { color: var(--BrightGold); border-color: var(--BrightGold); }

#App .item .build_num { 
    justify-self: flex-start;
    align-self: flex-start;
    font-size: 3vh;
}

#App .bar {
    position: absolute; margin: auto;
    top: 7vh; bottom: 0; left: 20.75vh;
    background-color: var(--AppBlue);
    border: solid .2vw var(--DarkGold);
    width: calc(65% - 21.5vh);
    height: 4vh;
    z-index: -1;
} #App #Order .bar { left: 19.5vh; }

#App .health,
#App .mana {
    width: 100%;
    height: 50%;
    box-shadow: none !important;
}

#App .health { background-color: #3cb038; }

#App .mana { background-color: #4054ad; }

/*//// Terminal ////*/

#Terminal {
    position: absolute;
    bottom: -100vh;
    height: 30vh;
    width: 98vw;
    background-color: RGBA(27, 26, 94, .6);
    border-top: 2vh solid #171717;
    padding: 2vh 1vw 0 1vw;
    font-size: 2vh;
    font-family: 'Roboto Mono', sans-serif;
    color: white;
    transition: bottom .25s;
}

#Terminal Input {
    border: none;
    outline: none;
    background-color: transparent;
    width: 80%;
    height: 1em;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    overflow: hidden;
}

/*///////////////////////*/
/*//// MEDIA QUERIES ////*/
/*///////////////////////*/

/*//// LARGE SCREENS ////*/

@media (min-width: 1000px) {
    /* Header */

    #Header .title { font-size: 4.5vw; }
    #Header .subtitle { font-size: 1.25vw; }
    #Header Span { text-shadow: .1vw .1vw .1vw black; }

    #Header #Nav {
        width: 21vw;
        padding-left: 10vw;
    }

    #Nav .button {
        height: 3.5vw;
        width: 3.5vw;
        font-size: 3vw;
        box-shadow: .1vw .1vw .5vw black;
    }

    #Nav .tab { width: 5vw; }

    #GlobalOptions { text-shadow: .3vw .3vw .1vw black; }
    #GlobalOptions Span { text-shadow: .3vw .3vw .1vw black; }
    #GlobalOptions Div { box-shadow: .2vw .2vw .5vw black; }

    #GlobalOptions .content { 
        padding: 2vw 0 0 0;
        height: 60%;
    }

    #GlobalOptions .content Span { font-size: 2.5vw; }
    #GlobalOptions .content Section .button { font-size: 2.25vw; }

    #GlobalOptions .tab { box-shadow: .1vw .1vw .5vw black;}
}

/*//// MOBILE ////*/

@media (orientation: portrait) {
    
    /* Header */
    
    #Header { 
        align-items: center;
        flex-direction: column;
        position: fixed !important;
        height: 27vw !important;
    }

    #Header .title { 
        font-size: 8vw;
        text-shadow: .5vw .5vw 1vw black;
        text-align: center;
        margin-left: 0;
    }

    #Header .subtitle {
        width: 80%;
        text-align: right;
        font-size: 3vw;
        text-shadow: .5vw .5vw 1vw black;
    }

    #Header #Nav { 
        width: 60%;
        align-self: start;
        margin-top: -6vw;
    }

    #Header .button {
        width: 9vw;
        height: 9vw;
        font-size: 7vw;
        border-radius: .8vw;
    }

    /* Menu */


    #GlobalOptions .tab {
        height: 10vw;
        width: 10vw;
        bottom: -9vw; right: 3vw; left: auto;
        font-size: 6vw;
    }

    #GlobalOptions .mask {
        bottom: 0; right: 2.5vw; left: auto;
        width: 12vw;
    }

    #GlobalOptions .content { height: 80% !important; }

    #GlobalOptions .content Span { 
        height: 20%; 
        width: 95%; 
        font-size: 6.5vw;
        text-align: left;
    } 
    
    #GlobalOptions .c { transform: translate(-5vw, -.5vh) !important; }
    #GlobalOptions .content Span:nth-child(1) { margin-left: 1.5vw; }

    #GlobalOptions .content Section { 
        padding-top: 3vh;
        height: 45%;
        width: 80%;
     }

    #GlobalOptions .button {
        padding: 0 !important;
        font-size: 5vw !important;
        line-height: 9vw;
    
    }

    .menu .header { font-size: 6vw; }
    .menu .title { font-size: 5vw; }
    .menu .content { font-size: 2.75vw; }

    #NewsMenu .Enhancement_Label,
    #NewsMenu .Bug_Label,
    #NewsMenu .Feature_Label {
        font-size: 2.25vw;
        padding: .4vw;
        border-radius: .8vw;
    }

    .list_menu { 
        width: 60%;
        height: 50%;
        padding: 2vh 2vw 2vh 2vh;
     }

    .list_menu .header { 
        font-size: 6vw;
        text-align: center;
    }

    .list_menu .option { 
        height: 10vw; 
        width: 10vw !important;
        font-size: 8vw;
    }

    #LangMenu .option {
        font-size: 6vw;
        width: 80% !important;
        padding: 0 1vw 0 1vw;
        height: max-content;
    }

    /* App */

    #App .team { 
        width: 100%;
        height: 80%;
        margin-top: 3vh;
    } 
    
    #App #Order { left: 105%; }

    #App .player { 
        margin-left: .5vw;
        width: 105%;
     }

    #App #ExtraInfo { display: none !important; }

    #App .preferences,
    #App .information {
        left: .5vh;
        height: calc(7vw - .4vh);
        width: 7vw;
        font-size: 6vw;
        border-radius: .8vw;
    }

    #App .icon { 
        left: 5vh;
        height: 21vw;
        width: 21vw;
        border-radius: .8vw;
        font-size: 8.5vh;
        padding-top: 1vw;
    }

    #App .item_cont { 
        width: 62.5%;
        left: 34vw; top: -2.5vh;
     }
    
    #App .item { 
        height: 9vw;
        width: 9vw;
        font-size: 4vh;
        border-radius: 1.2vw;
    }

    #App .bar {
        width: 63.5%;
        left: 31.5vw; top: 5.5vh;
        border: solid .2vh var(--DarkGold);
    }

    #Order .bar { left: 15.5vh !important; }
    #Order .item_cont { left: 16.5vh !important; }

    /* Terminal */

    #Terminal { display: none; }

}